In [1]:
pip install bs4

Collecting bs4
  Using cached https://files.pythonhosted.org/packages/10/ed/7e8b97591f6f456174139ec089c769f89a94a1a4025fe967691de971f314/bs4-0.0.1.tar.gz
Requirement already satisfied: beautifulsoup4 in c:\users\folksapon\anaconda3\lib\site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\folksapon\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (1.9.3)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-cp37-none-any.whl size=1278 sha256=8ee040d3fe26b3a629a3583b7db1a0d82a38c827703885151cfa268da2704da2
  Stored in directory: C:\Users\FOLKSAPON\AppData\Local\pip\Cache\wheels\a0\b0\b2\4f80b9456b87abedbc0bf2d52235414c3467d8889be38dd472
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Note: you may need to restart the kernel to use updated packages.

# Load DATA

In [106]:
import pandas as pd
import requests

In [139]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki)
df=pd.read_html(wiki_page.content)[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

# delete and checking "not assigned

In [140]:
df.drop(df.loc[df['Borough']=='Not assigned'].index, inplace=True)
df[df['Borough'] == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

# Merge row

In [172]:
df1 = df.groupby('Postal Code')['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
df1 = df1.reset_index(drop=False)
df1.rename(columns={'Neighbourhood':'Neighbourhood_combined'}, inplace=True)
df_merge = pd.merge(df, df1, on='Postal Code')
df_merge.drop(['Neighbourhood'], axis=1, inplace=True)
df_merge.shape

(103, 3)

# Get the latitude and the longitude

In [173]:
coor=pd.read_csv('http://cocl.us/Geospatial_data')
coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [187]:
df2 = pd.merge(coor,df_merge, on='Postal Code')
df2=df2[['Postal Code','Borough','Neighbourhood_combined' ,'Latitude', 'Longitude']]
df2.head()

,Postal Code,Borough,Neighbourhood_combined,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476